.cajita {
    max-width: 800px;
    height: 500px;
    background-color: red;
}

@media (min-width: 700px) {

    .cajita {
        height: 200px;
    }

    .cuadrado {

    }

    .rectangulo {

    }

}

@media (max-width: 414px) {



}