* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gradient {
    position: relative;
    height: 700px;
    background-color: red;
    /* background: linear-gradient(90deg, blue, red); */
    background: radial-gradient(red, blue 10%, green 20%, violet);
    /* background: repeating-linear-gradient(90deg, red, yellow 10%, green 20%); */
}

.opacity {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: repeating-radial-gradient(red, yellow 10%, green 20%);
    opacity: 0.1;
}



























/* .gradient {
    position: relative;
    height: 700px;
    background: linear-gradient(180deg, red 10%, blue, violet 70%);
    background: repeating-radial-gradient(red, yellow 10%, violet 10%);
    background: radial-gradient(red 1%, blue 19%, violet 80%);
    z-index: 1;
}

.opacity {
    position: absolute;
    background: repeating-radial-gradient(rgba(255, 0, 0, 0.404), rgba(255, 255, 0, 0.253) 10%, rgba(130, 225, 238, 0.582) 9%);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
} */
